<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
		<title>{% block title %}{% endblock %}WDT - WebApp Deployment Tool</title>
	</head>
	<body>
		<h1>Request</h1>
		<pre>
			{{ result.request }}
		</pre>
		<h1>Result</h1>
		<pre>
			{{ result.result }}
		</pre>
	</body>
</html>
