<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
		<title>{% block title %}{% endblock %}WDT - WebApp Deployment Tool</title>
	</head>
	<body>
		<h1>Packet</h1>
		<pre>
			{{ packet }}
		</pre>
		<h1>Return</h1>
		<pre>
			{{ data }}
		</pre>
	</body>
</html>
